@import "tailwindcss";

:root {
  /* 배경 */
  --color-outer: #0d0a1f; /* body 배경 */
  --color-bg: #120a29; /* 앱 메인 배경 */
  --color-surface: #221545; /* 카드 배경 */
  --color-surface-hover: #392765; /* 카드 홀더 배경 3f2e6f */
  --color-surface-elevated: #5f5b6c; /* 테두리 */
  --color-navbar: #180c39; /* 하단 네비게이션 바 배경 */

  /* 텍스트 */
  --color-text-primary: #ffffff; /* 곡명 · 제목 */
  --color-text-secondary: #a991cc; /* 가수명 · 부가 정보 */
  --color-text-placeholder: #928e9a; /* 플레이스홀더 */

  /* 태그 — 감성/분위기 (핑크) */
  --tag-mood-bg: rgba(184, 83, 142, 0.5);
  --tag-mood-text: #f9a4d0;
  --tag-mood-border: #c3497e;
  --tag-mood-hover-bg: #ff95cc;
  --tag-mood-hover-text: #5d1d3e;

  /* 태그 — 키 (시안) */
  --tag-key-bg: rgb(0 149 187 / 0.5); /* 0 42 56*/
  --tag-key-text: #00e5ff; /* #66f9ff 좀 더 밝은 시안으로 할까.. */
  --tag-key-border: #0099bb;

  /* 태그 — 상황 (노랑) */
  --tag-situation-bg: rgb(177 152 105 / 0.5);
  --tag-situation-text: #ffc45a;
  --tag-situation-border: #ffd47e;
  --tag-situation-hover-bg: #f8d056;
  --tag-situation-hover-text: #604b24;

  /* 액센트 */
  --color-accent: #ff4d8d;
  --color-accent-hover: #f96ba0;
}

body {
  background-color: var(--color-outer);
  color: var(--color-text-primary);
}

label {
  color: var(--color-text-placeholder);
  font-size: smaller;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

@keyframes card-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
