@import "tailwindcss";

:root {
  /* 배경 */
  --color-outer: #0d0a1f; /* body 배경 */
  --color-bg: #120a29; /* 앱 메인 배경 */
  --color-surface: #221545; /* 카드 배경 */
  --color-surface-elevated: #5f5b6c; /* 호버 · 입력창 · 카드 테두리 */
  --color-navbar: #180c39; /* 하단 네비게이션 바 배경 */

  /* 텍스트 */
  --color-text-primary: #ffffff; /* 곡명 · 제목 */
  --color-text-secondary: #a991cc; /* 가수명 · 부가 정보 */
  --color-text-placeholder: #928e9a; /* 플레이스홀더 */

  /* 태그 — 감성/분위기 (핑크) */
  --tag-mood-bg: #3d0a28;
  --tag-mood-text: #f472b6;
  --tag-mood-border: #cc1060;

  /* 태그 — 키 (시안) */
  --tag-key-bg: #002a38;
  --tag-key-text: #00e5ff; /* #66f9ff 좀 더 밝은 시안으로 할까.. */
  --tag-key-border: #0099bb;

  /* 태그 — 상황 (보라) */
  --tag-group-bg: #220a40;
  --tag-group-text: #bf5fff; /* #ffc45a 노랑으로 갈까..*/
  --tag-group-border: #8b00ff; /* #ffd47e */

  /* 액센트 */
  --color-accent: #ff4d8d;
}

body {
  background-color: var(--color-outer);
  color: var(--color-text-primary);
}
